In [1]:
# Step 0. Load libraries and custom functions
# Matrices and datasets ------------------------------------------------
import pandas as pd
import numpy as np
# Graphics -------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns
# Machine Learning -----------------------------------------------------
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import confusion_matrix
# Deep Learning --------------------------------------------------------
import keras
from keras import layers
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [4]:
# Step 1. Load data
# 1.1 Read csv and get basic info
df_raw = pd.read_csv('../data/01_IMDB_Dataset_HuggingFace.csv')
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [11]:
# 1.2 Get a sample
df_raw.sample(10)

                                                  review sentiment
38628  This is a really funny film, especially the se...  positive
48007  I went it to see this film with caution. A sui...  positive
13206  Surprisingly good film made in the wake of the...  positive
18185  It is one of the joys of Shakespeare that ther...  negative
23049  Here's one of the more pleasingly scuzzy 70's ...  positive
46278  There have been plenty of unknown movies or mo...  negative
45374  Hello. this is my first review for any movie i...  negative
20939  <br /><br />Presenting Lily Mars is one of a g...  positive
10902  There is nothing in this that the viewer could...  negative
29068  First of all I must admit Batman: The animated...  negative

In [14]:
# 1.3 Preprocess data in order to avoid html tags and show result
df_interim = df_raw.copy()
df_interim['review_clean'] = df_interim['review'].str.replace(r'(<.*?>)','',regex=True)
df_interim

                                                  review  ...                                       review_clean
0      One of the other reviewers has mentioned that ...  ...  One of the other reviewers has mentioned that ...
1      A wonderful little production. <br /><br />The...  ...  A wonderful little production. The filming tec...
2      I thought this was a wonderful way to spend ti...  ...  I thought this was a wonderful way to spend ti...
3      Basically there's a family where a little boy ...  ...  Basically there's a family where a little boy ...
4      Petter Mattei's "Love in the Time of Money" is...  ...  Petter Mattei's "Love in the Time of Money" is...
...                                                  ...  ...                                                ...
49995  I thought this movie did a down right good job...  ...  I thought this movie did a down right good job...
49996  Bad plot, bad dialogue, bad acting, idiotic di...  ...  Bad plot, bad dialogue, bad acting, idiotic di...
49997  I am a Catholic taught in parochial elementary...  ...  I am a Catholic taught in parochial elementary...
49998  I'm going to have to disagree with the previou...  ...  I'm going to have to disagree with the previou...
49999  No one expects the Star Trek movies to be high...  ...  No one expects the Star Trek movies to be high...

[50000 rows x 3 columns]